node_modules
dist
.git
.gitignore
.idea
.vscode
coverage
.cache
.umi
.umirc.local.ts
.umirc.local.js
playwright-report
test-results
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
