.request {
  font-size: 20px;
}

.title {
  font-weight: 300;
}

pre {
  background: rgb(0.3, 0.3, 0.3);
  color: white;
  padding: 8px;
  margin: 8px;
}

.review-segmented {
  width: 100%;
  padding: 4px;
  border-radius: 10px;

  .ant-segmented-item {
    border-radius: 8px;
    font-weight: 500;
  }
}
